@import 'compass/typography';
@import 'compass/typography/vertical_rhythm';

$base-font-size: 13px;
$base-line-height: 21px;
@include establish-baseline;

body {
  font-family: "Open Sans", sans-serif;
}
