@import 'compass/reset';
@import 'colors';
@import 'typography';
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";

body{
  background-color: white;
  a {
    color: $verde-oscuro;
    &:hover,
    &:focus {
      color: $verde;
      text-decoration: none;
    }
  }
}

h1 { font-size: 2.153846154em; }
h2 { font-size: 1.692307692em; }
h3 { font-size: 1.384615385em; }
h4 { font-size: 1.230769231em; }
h5 { font-size: 1.076923077em; }
h6 { font-size: 0.923076923em; }

blockquote {
  @include rhythm;
  display: block;
  font-size: 1.5em;
  text-align: center;
  font-style: italic;
  &::before {
    content: "\00ab\2003";
    color: gray;
  }
  &::after {
    content: "\2003\00bb";
    color: gray;
  }
}

a:focus,
a:active {
  outline: none;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

input,
textarea,
select {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #acacac;
  box-sizing: border-box;
  color: #666;
  display: block;
  margin-bottom: 15px;
  max-width: 100%;
  padding: 6px 10px;
}
input[type="submit"] {
  background-color: $verde;
  border: medium none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  line-height: 18px;
  padding: 6px 12px;
}

.glyphicon.inverted-round {
  @include border-radius(50%);
  color: white;
  background-color: $verde;
  padding: 0.5em;
  margin: 0 1em;
}

#header {
  border-bottom: 1px solid #bbb;
  background-color: #f4f4f4;
  a {
    color: $gris-claro;
    &:hover {
      color: $verde;
    }
  }
  #user-menu {
    a {
      color: #1d1d1d;
      &:hover {
        color: $verde;
      }
    }
  }
  .jumbotron {
    background-color: transparent;
    margin: 0;
    padding: 0;
    ul {
      li {
        padding: 0.583em 1.75em;
        border-left: solid 1px #e9e9e9;
        a {
          color: black;
        }
        &:hover {
          color: $verde;
          a {
            color: $verde;
          }
        }
      }
      li:first-child {
        border-left: 0 none;
      }
    }
  }
}

#block-system-user-menu {
  .content {
    ul {
      text-align: right;
      li {
        display: inline;
      }
    }
  }
}

#tabs {
  margin-bottom: 2em;
}

/**
 * Region Top header
 */
.region-top-header {
  overflow: hidden;
  font-weight: 700;
  @include adjust-font-size-to(12px);
  #block-system-user-menu {
    .content {
      ul {
        text-align: right;
        li {
          display: inline;
        }
      }
    }
  }
  #block-user-login {
    width: auto;
    float: right;
    .form-item {
      float: left;
      label {
        display: block;
      }

    }
    .item-list {
      display: none;
    }
    .form-actions {
      float: left;
      #edit-submit {
        margin-top: 24px;
      }
    }
  }
}

/**
 * Main menu
 */
#main-menu-sticky-wrapper {
}
#main-menu {
  margin: 0;
  border: none;
  background-color: rgba(255,255,255,0.95);
  background-image: none;
  @include single-box-shadow(0,0,0);
  //@include single-box-shadow(0,5px,5px,null,rgba($gris-claro,0.5));
  @include border-radius(0);
  z-index: 300;
  left: 0;
  right: 0;
}
.navbar-brand {
  height: auto;
  padding-bottom: 0;
}
#navbar-main-menu {
  width: 100%;
  @media (min-width: 768px) {
    ul {
      margin: 0;
      padding: 0;
      float: right;
      li {
        transition: background 0.6s ease 0s;
        border-right: 1px solid white;
        @include adjust-font-size-to(9px);
        a {
          text-transform: uppercase;
          font-weight: 700;
        }
        &:hover {
          background-color: $verde;
          a {
            color: white;
          }
        }
        a {
          @include rhythm-borders(1px,1.8);
          padding-left: 1em;
          padding-right: 1em;
          border: none;
          display: block;
        }
      }
      li.active-trail {
        background-color: $verde;
        a {
          color: white;
        }
      }
    }
  }
  @media (min-width: 992px) {
    @include adjust-font-size-to(16px);
  }
}

.region {
  //border: 1px dotted black;
}

/**
 * Slider
 */
#slider {
  margin-bottom: 3em;
}

/**
 * Page title
 */
main {
  @include rhythm-borders;
  border: none;
  .page-title {
    margin-bottom: 2em;
    h1 {
      border-bottom: 1px solid tint($gris-oscuro, 30%);
      margin-bottom: 1em;
      span {
        border-bottom: 2px solid $verde-oscuro;
        display: inline-block;
        margin-bottom: -1px;
        padding-bottom: 0.5em;
        padding-right: 1em;
      }
    }
  }
  #block-views-calendario-de-torneos-block-1 {
    .calendar-calendar {
      tbody {
        tr {
          td {
            text-align: center;
            .month {
              padding: 0.5em;
              max-width: 40px;
              margin: 0 auto;
            }
            &.has-events {
              .month {
                background-color: $verde;
                @include border-radius(50%);
                a {
                  color: white;
                }
              }
            }
            &.today {
              .month {
                background-color: white;
                @include border-radius(100%);
                border: solid 3px $verde;
                color: $verde;
                font-weight: 700;
                a {
                  color: $verde;
                  font-weight: 700;
                }
              }
            }
          }
        }
      }
    }
  }
  &.front-page {
    .calendar-calendar {
      tbody {
        tr {
          td {
            .month {
              padding: 0.5em;
              max-width: 40px;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}

#page-title {
  @include rhythm-borders(1px,2);
  margin-bottom: 1em;
  border: none;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  //background-color: $verde;
  //background: url(../i/rush-70824_640.jpg) darken($verde, 20%) top left repeat;
  background: url(../i/hierba.jpg) white bottom center repeat-x;
  @include background-size(contain);
  h1 {
    display: inline-block;
    padding: 1em;
    background-color: rgba($verde, 0.8);
  }
}

/**
 * Back to top
 */
a.back-to-top {
  position: fixed;
  bottom: 0;
  right: 0;
  color: white;
  background-color: black;
  opacity: 0.7;
  padding: 0.5em;
  display: none;
  z-index: 300;
}

/**
 * Region Sidebar First
 */
.region-sidebar-first {
  .block {
    margin-bottom: 1.5em;
    h2 {
      border-bottom: 1px solid tint($gris-oscuro, 30%);
      margin-bottom: 1em;
      span {
        border-bottom: 2px solid $verde-oscuro;
        display: inline-block;
        margin-bottom: -1px;
        padding-bottom: 0.5em;
        padding-right: 1em;
      }
    }
  }
  #block-user-login {
    label {
      display: block;
    }
  }
  .date-nav.item-list {
    .date-heading {
      a {
        text-transform: lowercase;
      }
    }
    ul {
      li {
        @include border-radius(5px);
        padding: 5px;
        a {
          display: block;
          margin: 0 auto;
        }
      }
      li.date-prev {
        margin-left: 0;
      }
    }
  }
  #block-views-calendario-de-torneos-block-2 {
    .views-field-title {
      a {
        font-weight: 700;
      }
    }
  }
}

/**
 * Region Content
 */
.region-content {
  .node-noticia {
    .content {
      @include rhythm;
      img {
        margin: 0 auto;
        width: 100%;
        @include rhythm;
      }
    }
  }
  .node-noticia.teaser {
    text-align: justify;
    .links {
      @include rhythm;
      float: right;
      .node-readmore {
        border: 1px solid $verde;
        color: black;
        cursor: pointer;
        display: inline-block;
        line-height: 18px;
        padding: 6px 12px;
      }
    }
  }
  .pager {
    @include rhythm-borders;
    border: none;
  }
  .node-galeria {
    img {
      @include rhythm;
    }
  }
  .node-partido {
    .content {
      @include rhythm-borders;
    }
    #patrocinios,
    #galeria,
    #charla,
    #comida,
    #avisos,
    #documentos {
      h2 {
        @include rhythm;
      }
    }
    #avisos {
      margin-bottom: 2em;
    }
  }

  // Corrijo posición del botón prev en calendario.
  .date-nav.item-list {
    ul.pager {
      li {
        @include border-radius(5px);
        padding: 5px;
        a {
          display: block;
          margin: 0 auto;
        }
      }
      li.date-prev {
        left: 0;
        right: auto;
        margin-left: 0;
      }
    }
  }
}

/**
 * Region Footer colummns
 */
footer#main-footer {
  /*@include rhythm-borders;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-top: 0;
  border: none;*/
  color: $gris-claro;
  #footer-section-1 {
    background-color: $gris;
  }
  #footer-section-2 {
  @include rhythm-borders;
  border: none;
    background-color: $gris-oscuro;
  }
  a {
    color: white;
    &:hover,
    &:focus {
      color: $verde;
    }
  }
}
.region-footer-first-col,
.region-footer-second-col,
.region-footer-third-col,
.region-footer-fourth-col {
  @include rhythm(2);
  .block {
    h2 {
      border-bottom: 1px solid tint($gris-oscuro, 30%);
      margin-bottom: 1em;
      span {
        border-bottom: 2px solid $verde-oscuro;
        display: inline-block;
        margin-bottom: -1px;
        padding-bottom: 0.5em;
        padding-right: 1em;
      }
    }
    ul.menu {
      .leaf {
        list-style-type: none;
        list-style-image: none;
      }
    }
  }
}

/**
 * Front page columns
 */
.region-front-first-col,
.region-front-second-col,
.region-front-third-col {
  .date-nav.item-list {
    ul.pager {
      li {
        @include border-radius(5px);
        padding: 5px;
        a {
          display: block;
          margin: 0 auto;
        }
      }
      li.date-prev {
        left: 0;
        right: auto;
        margin-left: 0;
      }
    }
  }
  #block-views-calendario-de-torneos-block-3 {
    ul {
      list-style-type: none;
    }
    .upcoming-box {
      overflow: hidden;
      position: relative;
      padding: 0;
      margin: 20px 0 40px;
      .upcoming-meta {
        float: left;
        margin: 0 0.625em 0 0;
        padding: 0.47375em 1.1em;
        font-size: 1em;;
        font-weight: 700;
        color: white;
        line-height: 1.4em;
        @include border-radius(100%);
        background-color: $verde;
        text-align: center;
        min-width: 4.25em;
        min-height: 4.25em;
      }
      .upcoming-right {
        width: 82%;
        float: right;
        margin: 0;
        padding: 0;
        font-size: 12px;
        h4 {
          font-weight: bold;
          a {
          }
        }
      }
    }
  }
}


/**
 * Galería de fotos
 */
#galeria {
  overflow: hidden;
}
.row.actions {
  div {
    @include rhythm;
  }
}
.portfolio-item {
  position: relative;
  @include rhythm;
  margin-top: 0;

  .portfolio-item-preview {
    overflow: hidden;
    position: relative;

    .portfolio-item-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.3);
      text-align: center;
      transform: translateY(20%);
      transition: transform 0.5s ease 0s;
      .portfolio-item-overlay-actions {
        position: absolute;
        bottom: 15%;
        width: 100%;
        text-align: center;
        margin-top: -24px;
        box-sizing: border-box;
        .portfolio-item-zoom,
        .portfolio-item-link {
          background-color: $verde;
          color: white;
          display: inline-block;
          @include border-radius(50%);
          height: 48px;
          text-align: center;
          text-decoration: none;
          width: 48px;
          i {
            font-size: 20px;
            line-height: 48px;
          }
        }
      }
    }

    .portfolio-item-description {
      position: absolute;
      top: 50px;
      left: 0;
      right: 0;
      color: white;
      h4 {
        a {
          color: white;
        }
      }
    }
  }

  &:hover {
    .portfolio-item-overlay {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}
/**
 * Magnific Popup
 */
.image-source-link {
	color: #98C3D1;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	/* ideally, transition speed should match zoom duration */
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}

/**
 * Admin menu module
 *
 * Fix overlaping of menu
 */
#admin-menu {
  z-index: 500;
}

/**
 * Calendario
 */
.calendar-calendar tr td.today,
.calendar-calendar tr.odd td.today,
.calendar-calendar tr.even td.today {
  background-color: white;
  color: white;
}

.calendar-calendar tr td.has-events a,
.calendar-calendar tr.odd td.has-events a,
.calendar-calendar tr.even td.has-events a {
  font-weight: bold;
}

.calendar-calendar .month-view .full td.multi-day div.monthview,
.calendar-calendar .week-view .full td.multi-day div.weekview,
.calendar-calendar .day-view .full td.multi-day div.dayview {
  background: tint($verde, 80%) none repeat scroll 0 0;
}

.calendar-calendar .month-view .full td.multi-day .inner .monthview .continues,
.calendar-calendar .month-view .full td.multi-day .inner .monthview .cutoff,
.calendar-calendar .week-view .full td.multi-day .inner .weekview .continues,
.calendar-calendar .week-view .full td.multi-day .inner .weekview .cutoff {
  background: tint($verde, 80%) none repeat scroll 0 0;
}

.calendar-calendar tr td {
  padding: 0.5em;
}
/**
 * Google Map
 */
#map-canvas {
  height: 400px;
  img {
    max-width: inherit;
  }
}

/**
 * Webform contacto
 */
.webform-client-form {
  label {
    display: none;
  }
  #edit-submitted-mensaje {
    margin-bottom: 0;
  }
}

/**
 * Patrocionios
 */
.region-sponsors {
  @include rhythm-borders;
  border: none;
  //background-color: gray;
  background-color: white;
  h2 {
    @include rhythm;
    margin-top: 0;
    @include adjust-font-size-to(28px);
    font-style: italic;
    color: white;
    text-align: center;
  }
  .view-content {
    @include rhythm;
  }
}
.view-display-id-page_1 .row>div {
  padding: 1em;
}

/**
 * Torneos
 */
.view-display-id-entity_view_1 {
  li {
    min-height: 320px;
  }
}
.thumbnail {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  display: block;
  line-height: 20px;
  padding: 4px;
  //padding: 0;
  padding-bottom: 8px;
  transition: all 0.2s ease-in-out 0s;
}
a.thumb-info {
  display: block;
  overflow: hidden;
  position: relative;
  text-decoration: none;
}
a.thumb-info img {
  border-radius: 3px 3px 0 0;
  position: relative;
  transition: all 0.2s linear 0s;
}
a.thumb-info span.thumb-info-title {
  background: rgba(36, 27, 28, 0.9) none repeat scroll 0 0;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -1px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  padding: 9px 11px;
  position: absolute;
  bottom: 10%;
  left: 0;
  z-index: 1;
}
a.thumb-info span.thumb-info-action {
  //background: rgba(36, 27, 28, 0.9) none repeat scroll 0 0;
  //background-color: rgba(244, 245, 255, 0.5);
  color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s ease 0s;
}
a.thumb-info span.thumb-info-action-icon {
  background: transparent none repeat scroll 0 0;
  //background-color: #0088cc;
  background-color: $verde;
  border-radius: 0 0 0 25px;
  font-size: 25px;
  text-align: center;
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  position: absolute;
  top: -100px;
  right: -100px;
  transition: all 0.3s ease 0s;
}
a.thumb-info:hover span.thumb-info-action {
  opacity: 1;
}
a.thumb-info:hover span.thumb-info-action-icon {
  top: 0;
  right: 0;
}
a.thumb-info:hover img {
  transform: scale(1.2);
}
a.thumb-info span.thumb-info-action-icon i {
  font-size: 24px;
  left: 3px;
  position: relative;
  top: -4px;
  color: white;
}
.partido-date {
  .month {
    background-color: #fcfcfc;
    color: #333;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    margin: 0;
    padding: 20px 30px;
    text-align: center;
  }
  .day {
    background-color: $verde;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    padding: 5px 10px;
    text-align: center;
    text-transform: uppercase;
    @include border-bottom-radius(4px);
  }
}

/**
 * Actualidad
 */
.view-actualidad.view-display-id-page {
  .view-content {
    .noticia {
      @include rhythm-borders;
      border: none;
    }
  }
  .news-box {
    overflow: hidden;
    position: relative;
    padding: 0;
    margin: 20px 0 40px;
    .news-meta {
      float: left;
      margin: 0 0.625em 0 0;
      padding: 0.47375em 1.1em;
      font-size: 1em;;
      font-weight: 700;
      color: white;
      line-height: 1.4em;
      @include border-radius(100%);
      background-color: $verde;
      text-align: center;
      min-width: 4.25em;
      min-height: 4.25em;
    }
    .news-right {
      width: 72%;
      float: right;
      margin: 0;
      padding: 0;
      font-size: 12px;
      h4 {
        font-weight: bold;
        a {
        }
      }
    }
  }
}
.view-actualidad.view-display-id-block_1 {
  .news-box {
    overflow: hidden;
    position: relative;
    padding: 0;
    margin: 20px 0 40px;
    .news-meta {
      float: left;
      margin: 0 0.625em 0 0;
      padding: 0.47375em 1.1em;
      font-size: 1em;;
      font-weight: 700;
      color: #303030;
      line-height: 1.4em;
      @include border-radius(100%);
      background-color: #d0c90b;
      text-align: center;
      min-width: 4.25em;
      min-height: 4.25em;
    }
    .news-right {
      width: 72%;
      float: right;
      margin: 0;
      padding: 0;
      font-size: 12px;
      h4 {
        font-weight: bold;
        a {
          color: #d0c90b !important;
        }
      }
    }
  }
}

/**
 * Portada
 */
.front-page {
  .front-col {
    @include rhythm;
    &>span {
      display: block;
      text-align: center;
      //@include rhythm;
      margin-top: 0;
    }
    h2 {
      @include rhythm;
      text-align: center;
      text-transform: uppercase;
    }
  }
  ul {
    list-style-type: disc;
    a {
      font-weight: bold;
    }
  }
  p {
    text-align: justify;
  }
}
