@import 'compass/reset';
@import 'colors';
@import 'typography';
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";

body{
  background-color: white;
  a {
    color: darken($verde, 20%);
    &:hover,
    &:focus {
      color: $verde;
      text-decoration: none;
    }
  }
}

h1 { font-size: 1.7em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.3em; }
h6 { font-size: 1.2em; }

blockquote {
  @include rhythm;
  display: block;
  font-size: 1.5em;
  text-align: center;
  font-style: italic;
  &::before {
    content: "\00ab\2003";
    color: gray;
  }
  &::after {
    content: "\2003\00bb";
    color: gray;
  }
}

a:focus,
a:active {
  outline: none;
}

#header {
  background-color: $gris-oscuro;
  a {
    color: $gris-claro;
    &:hover {
      color: $verde;
    }
  }
}

/**
 * Region Top header
 */
.region-top-header {
  overflow: hidden;
  @include adjust-font-size-to(10px);
  #block-system-user-menu {
    .content {
      ul {
        text-align: right;
        li {
          display: inline;
        }
      }
    }
  }
  #block-user-login {
    width: auto;
    float: right;
    .form-item {
      float: left;
      label {
        display: block;
      }

    }
    .item-list {
      display: none;
    }
    .form-actions {
      float: left;
      #edit-submit {
        margin-top: 24px;
      }
    }
  }
}

/**
 * Main menu
 */
#main-menu-sticky-wrapper {
}
#main-menu {
  margin: 0;
  border: none;
  background-color: white;
  background-image: none;
  @include single-box-shadow(0,0,0);
  @include single-box-shadow(0,5px,5px);
  @include border-radius(0);
  z-index: 3000;
  left: 0;
  right: 0;
}
.navbar-brand {
  height: auto;
}
#navbar-main-menu {
  width: 100%;
  @media (min-width: 768px) {
    ul {
      margin: 0;
      padding: 0;
      float: right;
      li {
        transition: background 0.6s ease 0s;
        &:hover {
          background-color: $verde;
          a {
            color: white;
          }
        }
        a {
          @include rhythm-borders(1px,1.8);
          padding-left: 1em;
          padding-right: 1em;
          border: none;
          display: block;
        }
      }
      li.active-trail {
        background-color: $verde;
        a {
          color: white;
        }
      }
    }
  }
}

.region {
  //border: 1px dotted black;
}

/**
 * Slider
 */
#slider {
  margin-bottom: 3em;
}

/**
 * Page title
 */
main {
  @include rhythm-borders;
  border: none;
}

#page-title {
  @include rhythm-borders(1px,2);
  margin-bottom: 1em;
  border: none;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color: darken($verde, 20%);
}

/**
 * Back to top
 */
a.back-to-top {
  position: fixed;
  bottom: 0;
  right: 0;
  color: white;
  background-color: black;
  opacity: 0.7;
  padding: 0.5em;
  display: none;
  z-index: 3000;
}

/**
 * Region Sidebar First
 */
.region-sidebar-first {
  .block {
    margin-bottom: 1.5em;
  }
}

/**
 * Region Content
 */
.region-content {
  .node-noticia {
    .content {
      @include rhythm;
      img {
        margin: 0 auto;
        @include rhythm;
      }
    }
  }
  // Corrijo posición del botón prev en calendario.
  .date-nav.item-list {
    li.date-prev {
      left: 0;
      right: auto;
    }
  }
}

/**
 * Region Footer colummns
 */
footer#main-footer {
  @include rhythm-borders;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  border: none;
  color: $gris-claro;
  #footer-section-1 {
    background-color: $gris;
  }
  #footer-section-2 {
    background-color: $gris-oscuro;
  }
  a {
    color: white;
    &:hover,
    &:focus {
      color: $verde;
    }
  }
}
.region-footer-first-col,
.region-footer-second-col,
.region-footer-third-col,
.region-footer-fourth-col {
  ul.menu {
    .leaf {
      list-style-type: none;
      list-style-image: none;
    }
  }
}



