@charset "UTF-8";
/* line 5, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 106, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 81.25%;
  line-height: 1.61538em;
}

/* line 8, ../../scss/_typography.scss */
body {
  font-family: "Open Sans", sans-serif;
}

/* line 7, ../../scss/main.scss */
body {
  background-color: white;
}
/* line 9, ../../scss/main.scss */
body a {
  color: #054403;
}
/* line 11, ../../scss/main.scss */
body a:hover, body a:focus {
  color: #0da508;
  text-decoration: none;
}

/* line 19, ../../scss/main.scss */
h1 {
  font-size: 2.153846154em;
}

/* line 20, ../../scss/main.scss */
h2 {
  font-size: 1.692307692em;
}

/* line 21, ../../scss/main.scss */
h3 {
  font-size: 1.384615385em;
}

/* line 22, ../../scss/main.scss */
h4 {
  font-size: 1.230769231em;
}

/* line 23, ../../scss/main.scss */
h5 {
  font-size: 1.076923077em;
}

/* line 24, ../../scss/main.scss */
h6 {
  font-size: 0.923076923em;
}

/* line 26, ../../scss/main.scss */
blockquote {
  margin-top: 1.61538em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.61538em;
  display: block;
  font-size: 1.5em;
  text-align: center;
  font-style: italic;
}
/* line 32, ../../scss/main.scss */
blockquote::before {
  content: "\00ab\2003";
  color: gray;
}
/* line 36, ../../scss/main.scss */
blockquote::after {
  content: "\2003\00bb";
  color: gray;
}

/* line 42, ../../scss/main.scss */
a:focus,
a:active {
  outline: none;
}

/* line 47, ../../scss/main.scss */
strong {
  font-weight: 700;
}

/* line 51, ../../scss/main.scss */
em {
  font-style: italic;
}

/* line 55, ../../scss/main.scss */
input,
textarea,
select {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #acacac;
  box-sizing: border-box;
  color: #666;
  display: block;
  margin-bottom: 15px;
  max-width: 100%;
  padding: 6px 10px;
}

/* line 67, ../../scss/main.scss */
input[type="submit"] {
  background-color: #0da508;
  border: medium none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  line-height: 18px;
  padding: 6px 12px;
}

/* line 77, ../../scss/main.scss */
.glyphicon.inverted-round {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: white;
  background-color: #0da508;
  padding: 0.5em;
  margin: 0 1em;
}

/* line 85, ../../scss/main.scss */
#header {
  background-color: #303745;
}
/* line 87, ../../scss/main.scss */
#header a {
  color: #d1d1d1;
}
/* line 89, ../../scss/main.scss */
#header a:hover {
  color: #0da508;
}

/**
 * Region Top header
 */
/* line 98, ../../scss/main.scss */
.region-top-header {
  overflow: hidden;
  font-weight: 700;
  font-size: 0.76923em;
  line-height: 2.1em;
}
/* line 104, ../../scss/main.scss */
.region-top-header #block-system-user-menu .content ul {
  text-align: right;
}
/* line 106, ../../scss/main.scss */
.region-top-header #block-system-user-menu .content ul li {
  display: inline;
}
/* line 112, ../../scss/main.scss */
.region-top-header #block-user-login {
  width: auto;
  float: right;
}
/* line 115, ../../scss/main.scss */
.region-top-header #block-user-login .form-item {
  float: left;
}
/* line 117, ../../scss/main.scss */
.region-top-header #block-user-login .form-item label {
  display: block;
}
/* line 122, ../../scss/main.scss */
.region-top-header #block-user-login .item-list {
  display: none;
}
/* line 125, ../../scss/main.scss */
.region-top-header #block-user-login .form-actions {
  float: left;
}
/* line 127, ../../scss/main.scss */
.region-top-header #block-user-login .form-actions #edit-submit {
  margin-top: 24px;
}

/**
 * Main menu
 */
/* line 139, ../../scss/main.scss */
#main-menu {
  margin: 0;
  border: none;
  background-color: rgba(255, 255, 255, 0.95);
  background-image: none;
  -moz-box-shadow: 0 0 0 #333333;
  -webkit-box-shadow: 0 0 0 #333333;
  box-shadow: 0 0 0 #333333;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  z-index: 300;
  left: 0;
  right: 0;
}

/* line 151, ../../scss/main.scss */
.navbar-brand {
  height: auto;
}

/* line 154, ../../scss/main.scss */
#navbar-main-menu {
  width: 100%;
}
@media (min-width: 768px) {
  /* line 157, ../../scss/main.scss */
  #navbar-main-menu ul {
    margin: 0;
    padding: 0;
    float: right;
  }
  /* line 161, ../../scss/main.scss */
  #navbar-main-menu ul li {
    transition: background 0.6s ease 0s;
    border-right: 1px solid white;
  }
  /* line 164, ../../scss/main.scss */
  #navbar-main-menu ul li:hover {
    background-color: #0da508;
  }
  /* line 166, ../../scss/main.scss */
  #navbar-main-menu ul li:hover a {
    color: white;
  }
  /* line 170, ../../scss/main.scss */
  #navbar-main-menu ul li a {
    border-width: 0.07692em;
    border-style: solid;
    padding: 2.83077em;
    padding-left: 1em;
    padding-right: 1em;
    border: none;
    display: block;
  }
  /* line 178, ../../scss/main.scss */
  #navbar-main-menu ul li.active-trail {
    background-color: #0da508;
  }
  /* line 180, ../../scss/main.scss */
  #navbar-main-menu ul li.active-trail a {
    color: white;
  }
}

/**
 * Slider
 */
/* line 195, ../../scss/main.scss */
#slider {
  margin-bottom: 3em;
}

/**
 * Page title
 */
/* line 202, ../../scss/main.scss */
main {
  border-width: 0.07692em;
  border-style: solid;
  padding: 1.53846em;
  border: none;
}

/* line 207, ../../scss/main.scss */
#page-title {
  border-width: 0.07692em;
  border-style: solid;
  padding: 3.15385em;
  margin-bottom: 1em;
  border: none;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  background: url(../i/hierba.jpg) white bottom center repeat-x;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
}
/* line 219, ../../scss/main.scss */
#page-title h1 {
  display: inline-block;
  padding: 1em;
  background-color: rgba(13, 165, 8, 0.8);
}

/**
 * Back to top
 */
/* line 229, ../../scss/main.scss */
a.back-to-top {
  position: fixed;
  bottom: 0;
  right: 0;
  color: white;
  background-color: black;
  opacity: 0.7;
  padding: 0.5em;
  display: none;
  z-index: 300;
}

/**
 * Region Sidebar First
 */
/* line 245, ../../scss/main.scss */
.region-sidebar-first .block {
  margin-bottom: 1.5em;
}
/* line 247, ../../scss/main.scss */
.region-sidebar-first .block h2 {
  border-bottom: 1px solid #6e737d;
  margin-bottom: 1em;
}
/* line 250, ../../scss/main.scss */
.region-sidebar-first .block h2 span {
  border-bottom: 2px solid #054403;
  display: inline-block;
  margin-bottom: -1px;
  padding-bottom: 0.5em;
  padding-right: 1em;
}
/* line 260, ../../scss/main.scss */
.region-sidebar-first #block-user-login label {
  display: block;
}
/* line 266, ../../scss/main.scss */
.region-sidebar-first .date-nav.item-list .date-heading a {
  text-transform: lowercase;
}
/* line 271, ../../scss/main.scss */
.region-sidebar-first .date-nav.item-list ul li {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
}
/* line 274, ../../scss/main.scss */
.region-sidebar-first .date-nav.item-list ul li a {
  display: block;
  margin: 0 auto;
}
/* line 279, ../../scss/main.scss */
.region-sidebar-first .date-nav.item-list ul li.date-prev {
  margin-left: 0;
}

/**
 * Region Content
 */
/* line 291, ../../scss/main.scss */
.region-content .node-noticia .content {
  margin-top: 1.61538em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.61538em;
}
/* line 293, ../../scss/main.scss */
.region-content .node-noticia .content img {
  margin: 0 auto;
  width: 100%;
  margin-top: 1.61538em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.61538em;
}
/* line 300, ../../scss/main.scss */
.region-content .node-noticia.teaser {
  text-align: justify;
}
/* line 302, ../../scss/main.scss */
.region-content .node-noticia.teaser .links {
  margin-top: 1.61538em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.61538em;
  float: right;
}
/* line 305, ../../scss/main.scss */
.region-content .node-noticia.teaser .links .node-readmore {
  border: 1px solid #0da508;
  color: black;
  cursor: pointer;
  display: inline-block;
  line-height: 18px;
  padding: 6px 12px;
}
/* line 315, ../../scss/main.scss */
.region-content .pager {
  border-width: 0.07692em;
  border-style: solid;
  padding: 1.53846em;
  border: none;
}
/* line 320, ../../scss/main.scss */
.region-content .node-galeria img {
  margin-top: 1.61538em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.61538em;
}
/* line 325, ../../scss/main.scss */
.region-content .node-partido .content {
  border-width: 0.07692em;
  border-style: solid;
  padding: 1.53846em;
}
/* line 331, ../../scss/main.scss */
.region-content .node-partido #patrocinios h2,
.region-content .node-partido #galeria h2,
.region-content .node-partido #documentos h2 {
  margin-top: 1.61538em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.61538em;
}
/* line 340, ../../scss/main.scss */
.region-content .date-nav.item-list ul.pager li {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
}
/* line 343, ../../scss/main.scss */
.region-content .date-nav.item-list ul.pager li a {
  display: block;
  margin: 0 auto;
}
/* line 348, ../../scss/main.scss */
.region-content .date-nav.item-list ul.pager li.date-prev {
  left: 0;
  right: auto;
  margin-left: 0;
}

/**
 * Region Footer colummns
 */
/* line 360, ../../scss/main.scss */
footer#main-footer {
  /*@include rhythm-borders;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-top: 0;
  border: none;*/
  color: #d1d1d1;
}
/* line 368, ../../scss/main.scss */
footer#main-footer #footer-section-1 {
  background-color: #484f5e;
}
/* line 371, ../../scss/main.scss */
footer#main-footer #footer-section-2 {
  border-width: 0.07692em;
  border-style: solid;
  padding: 1.53846em;
  border: none;
  background-color: #303745;
}
/* line 376, ../../scss/main.scss */
footer#main-footer a {
  color: white;
}
/* line 378, ../../scss/main.scss */
footer#main-footer a:hover, footer#main-footer a:focus {
  color: #0da508;
}

/* line 384, ../../scss/main.scss */
.region-footer-first-col,
.region-footer-second-col,
.region-footer-third-col,
.region-footer-fourth-col {
  margin-top: 3.23077em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 3.23077em;
}
/* line 390, ../../scss/main.scss */
.region-footer-first-col .block h2,
.region-footer-second-col .block h2,
.region-footer-third-col .block h2,
.region-footer-fourth-col .block h2 {
  border-bottom: 1px solid #6e737d;
  margin-bottom: 1em;
}
/* line 393, ../../scss/main.scss */
.region-footer-first-col .block h2 span,
.region-footer-second-col .block h2 span,
.region-footer-third-col .block h2 span,
.region-footer-fourth-col .block h2 span {
  border-bottom: 2px solid #054403;
  display: inline-block;
  margin-bottom: -1px;
  padding-bottom: 0.5em;
  padding-right: 1em;
}
/* line 402, ../../scss/main.scss */
.region-footer-first-col .block ul.menu .leaf,
.region-footer-second-col .block ul.menu .leaf,
.region-footer-third-col .block ul.menu .leaf,
.region-footer-fourth-col .block ul.menu .leaf {
  list-style-type: none;
  list-style-image: none;
}

/**
 * Front page columns
 */
/* line 418, ../../scss/main.scss */
.region-front-first-col .date-nav.item-list ul.pager li,
.region-front-second-col .date-nav.item-list ul.pager li,
.region-front-third-col .date-nav.item-list ul.pager li {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
}
/* line 421, ../../scss/main.scss */
.region-front-first-col .date-nav.item-list ul.pager li a,
.region-front-second-col .date-nav.item-list ul.pager li a,
.region-front-third-col .date-nav.item-list ul.pager li a {
  display: block;
  margin: 0 auto;
}
/* line 426, ../../scss/main.scss */
.region-front-first-col .date-nav.item-list ul.pager li.date-prev,
.region-front-second-col .date-nav.item-list ul.pager li.date-prev,
.region-front-third-col .date-nav.item-list ul.pager li.date-prev {
  left: 0;
  right: auto;
  margin-left: 0;
}

/**
 * Galería de fotos
 */
/* line 439, ../../scss/main.scss */
#galeria {
  overflow: hidden;
}

/* line 443, ../../scss/main.scss */
.row.actions div {
  margin-top: 1.61538em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.61538em;
}

/* line 447, ../../scss/main.scss */
.portfolio-item {
  position: relative;
  margin-top: 1.61538em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.61538em;
  margin-top: 0;
}
/* line 452, ../../scss/main.scss */
.portfolio-item .portfolio-item-preview {
  overflow: hidden;
  position: relative;
}
/* line 456, ../../scss/main.scss */
.portfolio-item .portfolio-item-preview .portfolio-item-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  transform: translateY(20%);
  transition: transform 0.5s ease 0s;
}
/* line 467, ../../scss/main.scss */
.portfolio-item .portfolio-item-preview .portfolio-item-overlay .portfolio-item-overlay-actions {
  position: absolute;
  bottom: 15%;
  width: 100%;
  text-align: center;
  margin-top: -24px;
  box-sizing: border-box;
}
/* line 474, ../../scss/main.scss */
.portfolio-item .portfolio-item-preview .portfolio-item-overlay .portfolio-item-overlay-actions .portfolio-item-zoom,
.portfolio-item .portfolio-item-preview .portfolio-item-overlay .portfolio-item-overlay-actions .portfolio-item-link {
  background-color: #0da508;
  color: white;
  display: inline-block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 48px;
  text-align: center;
  text-decoration: none;
  width: 48px;
}
/* line 484, ../../scss/main.scss */
.portfolio-item .portfolio-item-preview .portfolio-item-overlay .portfolio-item-overlay-actions .portfolio-item-zoom i,
.portfolio-item .portfolio-item-preview .portfolio-item-overlay .portfolio-item-overlay-actions .portfolio-item-link i {
  font-size: 20px;
  line-height: 48px;
}
/* line 492, ../../scss/main.scss */
.portfolio-item .portfolio-item-preview .portfolio-item-description {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  color: white;
}
/* line 499, ../../scss/main.scss */
.portfolio-item .portfolio-item-preview .portfolio-item-description h4 a {
  color: white;
}
/* line 507, ../../scss/main.scss */
.portfolio-item:hover .portfolio-item-overlay {
  opacity: 1;
  transform: translateY(0px);
}

/**
 * Magnific Popup
 */
/* line 516, ../../scss/main.scss */
.image-source-link {
  color: #98C3D1;
}

/* line 520, ../../scss/main.scss */
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 531, ../../scss/main.scss */
.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

/* line 534, ../../scss/main.scss */
.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

/* line 538, ../../scss/main.scss */
.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

/**
 * Admin menu module
 *
 * Fix overlaping of menu
 */
/* line 548, ../../scss/main.scss */
#admin-menu {
  z-index: 500;
}

/**
 * Calendario
 */
/* line 555, ../../scss/main.scss */
.calendar-calendar tr td.today,
.calendar-calendar tr.odd td.today,
.calendar-calendar tr.even td.today {
  background-color: #cfedce;
}

/* line 561, ../../scss/main.scss */
.calendar-calendar .month-view .full td.multi-day div.monthview,
.calendar-calendar .week-view .full td.multi-day div.weekview,
.calendar-calendar .day-view .full td.multi-day div.dayview {
  background: #cfedce none repeat scroll 0 0;
}

/* line 567, ../../scss/main.scss */
.calendar-calendar .month-view .full td.multi-day .inner .monthview .continues,
.calendar-calendar .month-view .full td.multi-day .inner .monthview .cutoff,
.calendar-calendar .week-view .full td.multi-day .inner .weekview .continues,
.calendar-calendar .week-view .full td.multi-day .inner .weekview .cutoff {
  background: #cfedce none repeat scroll 0 0;
}

/**
 * Google Map
 */
/* line 577, ../../scss/main.scss */
#map-canvas {
  height: 400px;
}
/* line 579, ../../scss/main.scss */
#map-canvas img {
  max-width: inherit;
}

/**
 * Webform contacto
 */
/* line 588, ../../scss/main.scss */
.webform-client-form label {
  display: none;
}
/* line 591, ../../scss/main.scss */
.webform-client-form #edit-submitted-mensaje {
  margin-bottom: 0;
}

/**
 * Patrocionios
 */
/* line 599, ../../scss/main.scss */
.region-sponsors {
  border-width: 0.07692em;
  border-style: solid;
  padding: 1.53846em;
  border: none;
  background-color: white;
}
/* line 604, ../../scss/main.scss */
.region-sponsors h2 {
  margin-top: 1.61538em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.61538em;
  margin-top: 0;
  font-size: 2.15385em;
  line-height: 1.5em;
  font-style: italic;
  color: white;
  text-align: center;
}
/* line 612, ../../scss/main.scss */
.region-sponsors .view-content {
  margin-top: 1.61538em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.61538em;
}

/* line 616, ../../scss/main.scss */
.view-display-id-page_1 .row > div {
  padding: 1em;
}

/**
 * Torneos
 */
/* line 623, ../../scss/main.scss */
.thumbnail {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  display: block;
  line-height: 20px;
  padding: 4px;
  transition: all 0.2s ease-in-out 0s;
}

/* line 633, ../../scss/main.scss */
a.thumb-info {
  display: block;
  overflow: hidden;
  position: relative;
  text-decoration: none;
}

/* line 639, ../../scss/main.scss */
a.thumb-info img {
  border-radius: 3px;
  position: relative;
  transition: all 0.2s linear 0s;
}

/* line 644, ../../scss/main.scss */
a.thumb-info span.thumb-info-title {
  background: rgba(36, 27, 28, 0.9) none repeat scroll 0 0;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -1px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  padding: 9px 11px;
  position: absolute;
  bottom: 10%;
  left: 0;
  z-index: 1;
}

/* line 659, ../../scss/main.scss */
a.thumb-info span.thumb-info-action {
  background: rgba(36, 27, 28, 0.9) none repeat scroll 0 0;
  background-color: rgba(244, 245, 255, 0.5);
  color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s ease 0s;
}

/* line 674, ../../scss/main.scss */
a.thumb-info span.thumb-info-action-icon {
  background: #ccc none repeat scroll 0 0;
  background-color: #0088cc;
  background-color: #0da508;
  border-radius: 0 0 0 25px;
  font-size: 25px;
  text-align: center;
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  position: absolute;
  top: -100px;
  right: -100px;
  transition: all 0.3s ease 0s;
}

/* line 690, ../../scss/main.scss */
a.thumb-info:hover span.thumb-info-action {
  opacity: 1;
}

/* line 693, ../../scss/main.scss */
a.thumb-info:hover span.thumb-info-action-icon {
  top: 0;
  right: 0;
}

/* line 697, ../../scss/main.scss */
a.thumb-info:hover img {
  transform: scale(1.2);
}

/* line 700, ../../scss/main.scss */
a.thumb-info span.thumb-info-action-icon i {
  font-size: 24px;
  left: 3px;
  position: relative;
  top: -4px;
  color: white;
}

/* line 708, ../../scss/main.scss */
.partido-date .month {
  background-color: #fcfcfc;
  color: #333;
  font-size: 36px;
  font-weight: 800;
  line-height: 36px;
  margin: 0;
  padding: 20px 30px;
  text-align: center;
}
/* line 718, ../../scss/main.scss */
.partido-date .day {
  background-color: #0da508;
  color: #fff;
  font-weight: 700;
  margin: 0;
  padding: 5px 10px;
  text-align: center;
  text-transform: uppercase;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/**
 * Actualidad
 */
/* line 735, ../../scss/main.scss */
.view-actualidad.view-display-id-page .view-content .noticia {
  border-width: 0.07692em;
  border-style: solid;
  padding: 1.53846em;
  border: none;
}
/* line 740, ../../scss/main.scss */
.view-actualidad.view-display-id-page .news-box {
  overflow: hidden;
  position: relative;
  padding: 0;
  margin: 20px 0 40px;
}
/* line 745, ../../scss/main.scss */
.view-actualidad.view-display-id-page .news-box .news-meta {
  float: left;
  margin: 0 0.625em 0 0;
  padding: 0.47375em 1.1em;
  font-size: 1em;
  font-weight: 700;
  color: white;
  line-height: 1.4em;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-color: #0da508;
}
/* line 756, ../../scss/main.scss */
.view-actualidad.view-display-id-page .news-box .news-right {
  width: 82%;
  float: right;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

/* line 770, ../../scss/main.scss */
.view-actualidad.view-display-id-block_1 .news-box {
  overflow: hidden;
  position: relative;
  padding: 0;
  margin: 20px 0 40px;
}
/* line 775, ../../scss/main.scss */
.view-actualidad.view-display-id-block_1 .news-box .news-meta {
  float: left;
  margin: 0 0.625em 0 0;
  padding: 0.47375em 1.1em;
  font-size: 1em;
  font-weight: 700;
  color: #303030;
  line-height: 1.4em;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-color: #d0c90b;
}
/* line 786, ../../scss/main.scss */
.view-actualidad.view-display-id-block_1 .news-box .news-right {
  width: 82%;
  float: right;
  margin: 0;
  padding: 0;
  font-size: 12px;
}
/* line 793, ../../scss/main.scss */
.view-actualidad.view-display-id-block_1 .news-box .news-right h4 a {
  color: #d0c90b !important;
}

/**
 * Portada
 */
/* line 805, ../../scss/main.scss */
.front-page .front-col {
  margin-top: 1.61538em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.61538em;
}
/* line 807, ../../scss/main.scss */
.front-page .front-col > span {
  display: block;
  text-align: center;
  margin-top: 0;
}
/* line 813, ../../scss/main.scss */
.front-page .front-col h2 {
  margin-top: 1.61538em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.61538em;
  text-align: center;
  text-transform: uppercase;
}
/* line 819, ../../scss/main.scss */
.front-page ul {
  list-style-type: disc;
}
/* line 821, ../../scss/main.scss */
.front-page ul a {
  font-weight: bold;
}
/* line 825, ../../scss/main.scss */
.front-page p {
  text-align: justify;
}
