@charset "UTF-8";
/* line 5, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 106, ../../../../../../../../.rvm/gems/ruby-2.1.3@webdesign/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 81.25%;
  line-height: 1.61538em;
}

/* line 8, ../../scss/_typography.scss */
body {
  font-family: "Open Sans", sasns-serif;
}

/* line 7, ../../scss/main.scss */
body {
  background-color: white;
}
/* line 9, ../../scss/main.scss */
body a {
  color: #054403;
}
/* line 11, ../../scss/main.scss */
body a:hover, body a:focus {
  color: #0da508;
  text-decoration: none;
}

/* line 19, ../../scss/main.scss */
h1 {
  font-size: 2.153846154em;
}

/* line 20, ../../scss/main.scss */
h2 {
  font-size: 1.692307692em;
}

/* line 21, ../../scss/main.scss */
h3 {
  font-size: 1.384615385em;
}

/* line 22, ../../scss/main.scss */
h4 {
  font-size: 1.230769231em;
}

/* line 23, ../../scss/main.scss */
h5 {
  font-size: 1.076923077em;
}

/* line 24, ../../scss/main.scss */
h6 {
  font-size: 0.923076923em;
}

/* line 26, ../../scss/main.scss */
blockquote {
  margin-top: 1.61538em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.61538em;
  display: block;
  font-size: 1.5em;
  text-align: center;
  font-style: italic;
}
/* line 32, ../../scss/main.scss */
blockquote::before {
  content: "\00ab\2003";
  color: gray;
}
/* line 36, ../../scss/main.scss */
blockquote::after {
  content: "\2003\00bb";
  color: gray;
}

/* line 42, ../../scss/main.scss */
a:focus,
a:active {
  outline: none;
}

/* line 47, ../../scss/main.scss */
strong {
  font-weight: 700;
}

/* line 51, ../../scss/main.scss */
em {
  font-style: italic;
}

/* line 55, ../../scss/main.scss */
#header {
  background-color: #303745;
}
/* line 57, ../../scss/main.scss */
#header a {
  color: #d1d1d1;
}
/* line 59, ../../scss/main.scss */
#header a:hover {
  color: #0da508;
}

/**
 * Region Top header
 */
/* line 68, ../../scss/main.scss */
.region-top-header {
  overflow: hidden;
  font-weight: 700;
  font-size: 0.76923em;
  line-height: 2.1em;
}
/* line 74, ../../scss/main.scss */
.region-top-header #block-system-user-menu .content ul {
  text-align: right;
}
/* line 76, ../../scss/main.scss */
.region-top-header #block-system-user-menu .content ul li {
  display: inline;
}
/* line 82, ../../scss/main.scss */
.region-top-header #block-user-login {
  width: auto;
  float: right;
}
/* line 85, ../../scss/main.scss */
.region-top-header #block-user-login .form-item {
  float: left;
}
/* line 87, ../../scss/main.scss */
.region-top-header #block-user-login .form-item label {
  display: block;
}
/* line 92, ../../scss/main.scss */
.region-top-header #block-user-login .item-list {
  display: none;
}
/* line 95, ../../scss/main.scss */
.region-top-header #block-user-login .form-actions {
  float: left;
}
/* line 97, ../../scss/main.scss */
.region-top-header #block-user-login .form-actions #edit-submit {
  margin-top: 24px;
}

/**
 * Main menu
 */
/* line 109, ../../scss/main.scss */
#main-menu {
  margin: 0;
  border: none;
  background-color: rgba(255, 255, 255, 0.95);
  background-image: none;
  -moz-box-shadow: 0 0 0 #333333;
  -webkit-box-shadow: 0 0 0 #333333;
  box-shadow: 0 0 0 #333333;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  z-index: 300;
  left: 0;
  right: 0;
}

/* line 121, ../../scss/main.scss */
.navbar-brand {
  height: auto;
}

/* line 124, ../../scss/main.scss */
#navbar-main-menu {
  width: 100%;
}
@media (min-width: 768px) {
  /* line 127, ../../scss/main.scss */
  #navbar-main-menu ul {
    margin: 0;
    padding: 0;
    float: right;
  }
  /* line 131, ../../scss/main.scss */
  #navbar-main-menu ul li {
    transition: background 0.6s ease 0s;
    border-right: 1px solid white;
  }
  /* line 134, ../../scss/main.scss */
  #navbar-main-menu ul li:hover {
    background-color: #0da508;
  }
  /* line 136, ../../scss/main.scss */
  #navbar-main-menu ul li:hover a {
    color: white;
  }
  /* line 140, ../../scss/main.scss */
  #navbar-main-menu ul li a {
    border-width: 0.07692em;
    border-style: solid;
    padding: 2.83077em;
    padding-left: 1em;
    padding-right: 1em;
    border: none;
    display: block;
  }
  /* line 148, ../../scss/main.scss */
  #navbar-main-menu ul li.active-trail {
    background-color: #0da508;
  }
  /* line 150, ../../scss/main.scss */
  #navbar-main-menu ul li.active-trail a {
    color: white;
  }
}

/**
 * Slider
 */
/* line 165, ../../scss/main.scss */
#slider {
  margin-bottom: 3em;
}

/**
 * Page title
 */
/* line 172, ../../scss/main.scss */
main {
  border-width: 0.07692em;
  border-style: solid;
  padding: 1.53846em;
  border: none;
}

/* line 177, ../../scss/main.scss */
#page-title {
  border-width: 0.07692em;
  border-style: solid;
  padding: 3.15385em;
  margin-bottom: 1em;
  border: none;
  text-align: center;
  text-transform: uppercase;
  color: #303745;
  font-weight: 700;
  background: url(../i/hierba.jpg) white bottom center repeat-x;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
}

/**
 * Back to top
 */
/* line 194, ../../scss/main.scss */
a.back-to-top {
  position: fixed;
  bottom: 0;
  right: 0;
  color: white;
  background-color: black;
  opacity: 0.7;
  padding: 0.5em;
  display: none;
  z-index: 300;
}

/**
 * Region Sidebar First
 */
/* line 210, ../../scss/main.scss */
.region-sidebar-first .block {
  margin-bottom: 1.5em;
}
/* line 212, ../../scss/main.scss */
.region-sidebar-first .block h2 {
  border-bottom: 1px solid #6e737c;
  margin-bottom: 1em;
}
/* line 215, ../../scss/main.scss */
.region-sidebar-first .block h2 span {
  border-bottom: 2px solid #054403;
  display: inline-block;
  margin-bottom: -1px;
  padding-bottom: 0.5em;
  padding-right: 1em;
}
/* line 225, ../../scss/main.scss */
.region-sidebar-first #block-user-login label {
  display: block;
}
/* line 231, ../../scss/main.scss */
.region-sidebar-first .date-nav.item-list .date-heading a {
  text-transform: lowercase;
}
/* line 235, ../../scss/main.scss */
.region-sidebar-first .date-nav.item-list li {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
}
/* line 238, ../../scss/main.scss */
.region-sidebar-first .date-nav.item-list li a {
  display: block;
  margin: 0 auto;
}
/* line 243, ../../scss/main.scss */
.region-sidebar-first .date-nav.item-list li.date-prev {
  margin-left: 0;
}

/**
 * Region Content
 */
/* line 254, ../../scss/main.scss */
.region-content .node-noticia .content {
  margin-top: 1.61538em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.61538em;
}
/* line 256, ../../scss/main.scss */
.region-content .node-noticia .content img {
  margin: 0 auto;
  margin-top: 1.61538em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.61538em;
}
/* line 263, ../../scss/main.scss */
.region-content .node-galeria img {
  margin-top: 1.61538em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.61538em;
}
/* line 269, ../../scss/main.scss */
.region-content .date-nav.item-list li {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
}
/* line 272, ../../scss/main.scss */
.region-content .date-nav.item-list li a {
  display: block;
  margin: 0 auto;
}
/* line 277, ../../scss/main.scss */
.region-content .date-nav.item-list li.date-prev {
  left: 0;
  right: auto;
  margin-left: 0;
}

/**
 * Region Footer colummns
 */
/* line 288, ../../scss/main.scss */
footer#main-footer {
  border-width: 0.07692em;
  border-style: solid;
  padding: 1.53846em;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  border: none;
  color: #d1d1d1;
}
/* line 295, ../../scss/main.scss */
footer#main-footer #footer-section-1 {
  background-color: #484f5e;
}
/* line 298, ../../scss/main.scss */
footer#main-footer #footer-section-2 {
  border-width: 0.07692em;
  border-style: solid;
  padding: 1.53846em;
  border: none;
  background-color: #303745;
}
/* line 303, ../../scss/main.scss */
footer#main-footer a {
  color: white;
}
/* line 305, ../../scss/main.scss */
footer#main-footer a:hover, footer#main-footer a:focus {
  color: #0da508;
}

/* line 311, ../../scss/main.scss */
.region-footer-first-col,
.region-footer-second-col,
.region-footer-third-col,
.region-footer-fourth-col {
  margin-top: 3.23077em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 3.23077em;
}
/* line 317, ../../scss/main.scss */
.region-footer-first-col .block h2,
.region-footer-second-col .block h2,
.region-footer-third-col .block h2,
.region-footer-fourth-col .block h2 {
  border-bottom: 1px solid #6e737c;
  margin-bottom: 1em;
}
/* line 320, ../../scss/main.scss */
.region-footer-first-col .block h2 span,
.region-footer-second-col .block h2 span,
.region-footer-third-col .block h2 span,
.region-footer-fourth-col .block h2 span {
  border-bottom: 2px solid #054403;
  display: inline-block;
  margin-bottom: -1px;
  padding-bottom: 0.5em;
  padding-right: 1em;
}
/* line 329, ../../scss/main.scss */
.region-footer-first-col .block ul.menu .leaf,
.region-footer-second-col .block ul.menu .leaf,
.region-footer-third-col .block ul.menu .leaf,
.region-footer-fourth-col .block ul.menu .leaf {
  list-style-type: none;
  list-style-image: none;
}

/**
 * Galería de fotos
 */
/* line 340, ../../scss/main.scss */
.portfolio-item {
  position: relative;
  margin-top: 1.61538em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.61538em;
  margin-top: 0;
}
/* line 345, ../../scss/main.scss */
.portfolio-item .portfolio-item-preview {
  overflow: hidden;
  position: relative;
}
/* line 349, ../../scss/main.scss */
.portfolio-item .portfolio-item-preview .portfolio-item-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  transform: translateY(20%);
  transition: transform 0.5s ease 0s;
}
/* line 360, ../../scss/main.scss */
.portfolio-item .portfolio-item-preview .portfolio-item-overlay .portfolio-item-overlay-actions {
  position: absolute;
  bottom: 15%;
  width: 100%;
  text-align: center;
  margin-top: -24px;
  box-sizing: border-box;
}
/* line 367, ../../scss/main.scss */
.portfolio-item .portfolio-item-preview .portfolio-item-overlay .portfolio-item-overlay-actions .portfolio-item-zoom,
.portfolio-item .portfolio-item-preview .portfolio-item-overlay .portfolio-item-overlay-actions .portfolio-item-link {
  background-color: #0da508;
  color: white;
  display: inline-block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 48px;
  text-align: center;
  text-decoration: none;
  width: 48px;
}
/* line 377, ../../scss/main.scss */
.portfolio-item .portfolio-item-preview .portfolio-item-overlay .portfolio-item-overlay-actions .portfolio-item-zoom i,
.portfolio-item .portfolio-item-preview .portfolio-item-overlay .portfolio-item-overlay-actions .portfolio-item-link i {
  font-size: 20px;
  line-height: 48px;
}
/* line 385, ../../scss/main.scss */
.portfolio-item .portfolio-item-preview .portfolio-item-description {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  color: white;
}
/* line 392, ../../scss/main.scss */
.portfolio-item .portfolio-item-preview .portfolio-item-description h4 a {
  color: white;
}
/* line 400, ../../scss/main.scss */
.portfolio-item:hover .portfolio-item-overlay {
  opacity: 1;
  transform: translateY(0px);
}

/**
 * Magnific Popup
 */
/* line 409, ../../scss/main.scss */
.image-source-link {
  color: #98C3D1;
}

/* line 413, ../../scss/main.scss */
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 424, ../../scss/main.scss */
.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

/* line 427, ../../scss/main.scss */
.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

/* line 431, ../../scss/main.scss */
.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

/**
 * Admin menu module
 *
 * Fix overlaping of menu
 */
/* line 441, ../../scss/main.scss */
#admin-menu {
  z-index: 500;
}
